html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* 確保 body 和 html 填滿整個畫面 */
  overflow-x: hidden; /* 防止水平滾動條 */
}

.courses-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #e9e9e9; /* 新增背景顏色 */
}

.courses-left {
  flex: 1;
}

.courses-right {
  margin: 40px 50px 40px 50px;
  flex: 4;
}

.courses-spinner {
  display: block;
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 50%;
}


.courses-container th,
.courses-container td {
  vertical-align: middle; /* 縱向置中 */
}
